.navbar{
    background-color: #171717;
}
body{
    background-color: #171717;
}
.btn-green{
    background-color:#16b85c;
    font-size:30px;
    color:white;
    border-style:none;
}
.btn-green:hover{
    background-color:#16e06e;
    font-size:30px;
    color:white;
    border-style:none;
}
